{{ $section_pages := where .Site.RegularPages "Section" "sections" }}
<div id="banner-wrapper" class="position-relative w-100">
  <!-- Carousel Background -->
  <div id="bannerCarousel" class="carousel slide carousel-fade position-absolute top-0 start-0 w-100 h-100" data-bs-ride="carousel" style="z-index: 0;">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <div class="carousel-img h-100 w-100" style='background-image: linear-gradient(0deg, #040913 0%, rgba(4, 9, 19, 0.4) 100%), url("{{ "images/banner5.png" | absURL }}");'></div>
      </div>
      <div class="carousel-item h-100">
        <div class="carousel-img h-100 w-100" style='background-image: linear-gradient(0deg, #040913 0%, rgba(4, 9, 19, 0.4) 100%), url("{{ "images/banner2.png" | absURL }}");'></div>
      </div>
      <div class="carousel-item h-100">
        <div class="carousel-img h-100 w-100" style='background-image: linear-gradient(0deg, #040913 0%, rgba(4, 9, 19, 0.4) 100%), url("{{ "images/banner4.png" | absURL }}");'></div>
      </div>
      <div class="carousel-item h-100">
        <div class="carousel-img h-100 w-100" style='background-image: linear-gradient(0deg, #040913 0%, rgba(4, 9, 19, 0.4) 100%), url("{{ "images/banner1.png" | absURL }}");'></div>
      </div>
    </div>
  </div>

  <div id="banner" class="container-fluid text-white text-center mb-5 position-relative" style="z-index: 2;">
    <h1>
      <img src='{{ (printf "images/%s" .Site.Params.banner.logo) | absURL }}'
           class="d-none d-lg-inline mb-4"
         alt="{{ .Site.Title }} logo" style="max-height: 270px;">
      <img src='{{ (printf "images/%s" .Site.Params.banner.logoSmallDevices) | absURL }}'
           class="d-inline d-lg-none mb-4"
         alt="{{ .Site.Title }} small logo" style="max-height: 180px;">
    </h1>

    <p class="fs-4 mt-3 fw-normal" style="max-width: 850px; margin: 0 auto; color: #c8d8ea; line-height: 1.7;">
        {{ .Site.Params.description }}
    </p>

    <div class="mt-4">
        <a href="{{ .Site.Params.repos.git }}" class="btn btn-primary btn-lg px-5 py-3 shadow-lg" target="_blank" style="background-color: #1a60db; border: none; font-weight: bold; font-size: 1.3rem;">
            <i class="bi bi-steam me-2"></i> WISHLIST ON STEAM
        </a>
    </div>
  </div>
</div>
