{{ $section_pages := where .Site.RegularPages "Section" "sections" }}
<div id="sections" class="sections py-5">
  <div class="container">
    <div class="row pack mt-4">
      {{ with .Site.GetPage "sections" }}
      {{ if ne .Title "" }}
      <div class="col-12"><h2 class="text-center mb-5 fw-bold text-uppercase" style="letter-spacing: 3px;">{{ .Title }}</h2></div>
      {{ end }}
      {{ end }}
      {{ range $section_pages }}
      <div class="col-md-4 mb-3">
          <div class="card h-100 border-0 shadow-lg">
            {{ if .Resources.GetMatch "feature.webm" }}
            {{ with .Resources.GetMatch "feature.webm" }}
            <video width="100%" autoplay loop muted playsinline class="card-img-top">
                <source src="{{ .Permalink }}" type="video/webm">
            </video>
            {{ end }}
            {{ else if .Params.img }}
            {{ with .Resources.Match .Params.img }}
            {{ range . }}
            <img width="100%"
                 src="{{ .Permalink }}"
                 class="card-img-top"
                 alt="{{ .Title }}">
            {{ end }}
            {{ end }}
            {{ end }}
            <div class="card-body p-4">
              <h3 class="card-title text-primary h4 mb-3">{{ .Title }}</h3>
              <div class="card-text">
                  {{ .Content }}
              </div>
            </div>
          </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
